<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template.html">

<head>
	<meta charset="utf-8">
	<title>MY STORE | Meilleures Produit & Articles</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container mt-5 mb-5">
			<table class="table table-hover">
				<thead class="table-dark" border="1">
					<tr>
						<th>ID</th>
						<th>Titre</th>
						<th>Prix</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody class="table-light">
					<tr th:each="p:${listProduit}">
						<td th:text="${p.id_produit}"></td>
						<td th:text="${p.titre_produit}"></td>
						<td th:text="${p.prix_produit}"></td>
						<td>
							<a th:href="@{/formEditProduit/{id}(id=${p.id_produit})}" class="btn btn-success">
								<i class="bi bi-pen"></i>
							</a>
							<a onclick="javascript:return confirm('Etes vous sure?')"
								th:href="@{/deleteProduit(id=${p.id_produit})}" class="btn btn-danger"> <i
									class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>